@import '../app.scss';
#header{
    header{
        background-color: #fff;
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
        nav{
            a.navbar-brand{
                line-height: 1;
                transition: opacity .3s;
                &:hover{
                    opacity: .7;
                }
                &:active{
                    transform: scale(1.1);
                }
            }
            ul{
                li{
                    a{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
section#home{
    background-color: $primary;
    .image{
        border-radius: 50%;
        overflow: hidden;
        width: 250px;
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
        img{
            transition: all .3s;
            user-select: none;
        }
    }
    h1{
        font-size: 2em;
        @media (min-width: 768px) {
            font-size: 2.5em;
        }
        @media (min-width: 992px) {
            font-size: 3em;
        }
    }
    ul{
        list-style-type: none;
        li{
            a{
                transition: all .3s;
                &:hover{
                    opacity: .7;
                }
                img{
                    filter: invert(100%);
                }
            }
        }
    }
}
section#skills{
    h2{
        font-size: 3em;
        padding-bottom: 4px;
        position: relative;
        line-height: 1;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 2px;
            background-color: #000;
        }
    }
    ul{
        list-style-type: none;
        li{
            font-size: 1.5em;
        }
    }
    img{
        user-select: none;
        transition: all .3s;
        &:hover{
            transform: scale(.8);
        }
    }
}
section#trabalhos-realizados{
    background-color: #f1f1f1;
    h2{
        font-size: 2em;
        @media (min-width: 768px) {
            font-size: 2.5em;
        }
        @media (min-width: 992px) {
            font-size: 3em;
        }
        padding-bottom: 4px;
        position: relative;
        line-height: 1;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            height: 2px;
            background-color: #000;
        }
    }
    .slick-slide {
        &:focus, a {
            outline: none;
        }
    }
    p.info{
        font-size: .7em;
        color: #adacac;
    }
    #twoup{
        border-bottom: 2px solid #d1d1d1;
        position: relative;
        &::before{
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%);
            background-color: #d1d1d1;
        }
        img{
            user-select: none;
        }
        p{
            line-height: 1;
        }
    }
}
section#contato{
    background-color: $primary;
    div.box{
        background-color: #000;
        h2{
            font-size: 2em;
            @media (min-width: 768px) {
                font-size: 2.5em;
            }
            @media (min-width: 992px) {
                font-size: 3em;
            }
            padding-bottom: 4px;
            position: relative;
            line-height: 1;
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100px;
                height: 2px;
                background-color: #fff;
            }
        }
        form{
            label{
                @mixin style{
                    padding: 4px;
                    background-color: transparent;
                    outline: none;
                    color: #fff;
                    border:{
                        bottom: 2px solid #fff;
                        top: none;
                        left: none;
                        right: none;
                    }
                    &::placeholder{
                        color: #fff;
                        user-select: none;
                    }
                }
                input{
                    @include style;
                }
                textarea{
                    @include style;
                    resize: none;
                    height: 80px;
                }
            }
            input[type="submit"]{
                font-weight: bold;
                padding: 2px 32px;
                border: 1px solid #bebebe;
                background-color: #bebebe;
                transition: all .3s;
                user-select: none;
                &:hover{
                    background-color: transparent;
                    color: #fff;
                }
            }
        }
        a{
            opacity: .3;
            transition: all .3s;
            &:hover{
                opacity: 1;
                text-decoration: none;
            }
        }
    }
}