@font-face {
  	font-family: 'FuturaLtBTLight';
  	src: url('../fonts/FuturaLtBTLight.eot');
  	src: url('../fonts/FuturaLtBTLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaLtBTLight.woff2') format('woff2'),
		url('../fonts/FuturaLtBTLight.woff') format('woff'),
		url('../fonts/FuturaLtBTLight.ttf')  format('truetype'),
		url('../fonts/FuturaLtBTLight.svg#svgFuturaLtBTLight') format('svg');
	font-display: swap;
}